@mixin font-face($font-name) {
    @font-face {
        font-family: $font-name;
        src: url('fonts/#{$font-name}.eot');
        src: url('fonts/#{$font-name}.eot?#iefix') format('embedded-opentype'),
            url('fonts/#{$font-name}.ttf') format('truetype'),
            url('fonts/#{$font-name}.svg##{$font-name}') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-name;
            src: url('fonts/#{$font-name}.svg##{$font-name}') format('svg');
        }
    }
}