@mixin MQ($canvas) {
	@if $canvas == small {
		@media (max-width: $small) { @content; }
	}
	@else if $canvas == medium {
		@media (max-width: $medium) { @content; }
	}
	@else if $canvas == menu {
		@media (max-width: $menu) { @content; }
	}
	@else if $canvas == large {
		@media (max-width: $large) { @content; }
	}
	@else if $canvas == hd {
		@media (max-width: $hd) { @content; }
	}
	@else if $canvas == fullhd {
		@media (max-width: $fullhd) { @content; }
	}
	@else if $canvas == menuResp {
		@media (max-width: $menuResp) { @content; }
	}
	@else {
		@media (max-width: $canvas) { @content; }
	}
}
@mixin MQDUAL($max, $min) {
	@media (max-width: $max) and (min-width: $min) { @content; }
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin padding ($pads...) {
	padding: $pads;
}
@mixin margin ($margin...) {
	margin: $margin;
}
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}