@import 'variables';
@import 'mixins';

/* MODAL ORÇAMENTO */
.show {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.show:hover {
    color: #377cbf;
    cursor: pointer;
}
.modal-agendamento .head-modal,
.modal-blog .head-modal,
.modal-agendamento .body-modal,
.modal-blog .body-modal,
.modal-agendamento .foot-modal,
.modal-blog .foot-modal{
    width: 100%;
    float: left;
    position: relative;
}
.modal-agendamento .foot-modal{
    padding: 15px;
    @include MQ(568px) {
        text-align:center;
    }
    @include MQ(500px) {
        display: none;
    }
}
.modal-agendamento .body-modal .telephone,
.modal-blog .body-modal .telephone{
    width: 50%;
    padding: 5px 20px;
    float: left;
    position: relative;
}
.modal-agendamento .body-modal a,
.modal-blog .body-modal a{
    color: #FFF;
}
.mask,
.mask-news {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.84);
    z-index: 11;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}
.modal-agendamento,
.modal-blog {
    background: #FFF;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    min-height: 181px;
    position: fixed;
    display: table;
    margin: 0 auto;
    top: 5vh;
    left: calc(50% - 320px);
    float: none;
    min-width: 640px;
    max-width: 640px;
    @include MQ(768px) {
        max-width: auto;
        min-width: auto;
        width:100%;
        left: 0;
        z-index: 9999;
    }
    @include MQ(400px){
        top: 0;
    }
}
.active {
    visibility: visible;
    opacity: 1;
}
.active + .modal-agendamento,
.active + .modal-blog {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.modal-agendamento .head-modal,
.modal-blog .head-modal{
    background-color: #377cbf;
}
.modal-agendamento .head-modal .closeAgend,
.modal-blog .head-modal .closeAgend {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    border: 0;
    float: right;
    position: relative;
    opacity: 1;
    background: #377cbf;
}
.modal-agendamento .head-modal .closeAgend:hover,
.modal-blog .head-modal .closeAgend:hover {
    background: #002A46;
}
.modal-agendamento .head-modal .closeAgend:focus,
.modal-blog .head-modal .closeAgend:focus {
    outline: none;
}
.modal-agendamento .body-modal,
.modal-blog .body-modal{
    background-color: #FFF;
    padding: 15px 15px 0;
    color: #666;
    h3{
        font-size: 20px;
        @include MQ(500px){
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
    h4{
        font-size: 16px;
        margin: 0 0 20px;
        float: left;
    }
    input[type="text"], input[type="password"], textarea{
        font-size: 13px;
    }
    @include MQ(500px){
        height: 100vh;
        overflow: scroll;
        padding-bottom: 50px;
        textarea{
            height: 100px;
        }
    }
}
.modal-agendamento .plans .plan .head-plan,
.modal-blog .plans .plan .head-plan{
    background: #858585;
    padding: 0 15px;
}

.modal-agendamento .foot-modal .location span a,
.modal-blog .foot-modal .location span a{
    color: #666;
    font-size: 15px;
}
.modal-agendamento .foot-modal .location span a:hover,
.modal-blog .foot-modal .location span a:hover{
    color: #136396;
}
.modal-agendamento .foot-modal .location span i,
.modal-blog .foot-modal .location span i{
    font-size: 20px;
    color: #bbd61a;
}

.icon-cancel:before{
    vertical-align: top;
    font-size: 15px;
    margin-top: 2px;
}
.screen-reader-response{
    display: none;
}
form .wpcf7-response-output.wpcf7-validation-errors,
form .wpcf7-response-output.wpcf7-mail-sent-ng{
    background: none;
    margin-top: 5px;
    color: red;
}
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ng{
    border:none;
}

.modal-agendamento div.wpcf7 .ajax-loader.is-active{
    margin: 20px auto;
    background-repeat: no-repeat;
    width: 100%;
    background-position-x: 50%;
    position:relative;
}
div.wpcf7{
    .ajax-loader{
        position:absolute;
    }
    .btn {
        width: 100%;
        text-align: center;
        input{
            width: auto;
            font-family: $font-semi-bold;
            color: $read-bold;
            font-size: 15px;
            display: inline-block;
            padding: 11px;
        }
    }
}

.wpcf7-form label.error{
    float: left !important;
}