@import "variables";
@import "wordpress";
@import "bootstrap";
@import "mixins";
@import "fonts";
@import "menu";
@import "modal-agendamento";
@import "form";

section{
    position: relative;
    width: 100%;
    float: left;
    @include MQ(991px){
        text-align: center;
    }
}
#ajx{
    display: none;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    color: $read;
}
#wrap{
    background-color: $white;
    position: relative;
    top: 0;
    float: left;
    width: 100%;
    overflow: hidden;
}
h1, h2, h3, h4{
    color: $read-bold;
    font-family: $font-regular;
}
h1, .h1{
    font-size: 50px;
    @include MQ(568px){
        font-size: 40px;
    }
}
h2, .h2{
    font-size: 45px;
    @include MQ(568px){
        font-size: 35px;

    }
}
h3, .h3{
    font-size: 30px;
    @include MQ(568px){
        font-size: 20px;

    }
}
a, span, li, p{
    font-family: $font-regular;
}
strong, b{
    font-family: $font-regular;
    font-weight: bold;
}
a,
input,
textarea,
button{
    @include transition(all .3s ease-in-out);
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
a{
    &:hover,
    &:focus,
    &:active{
        outline: none;
        text-decoration: none;
    }
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p{
    font-size: 14px;
    font-family: $font-light,  'Montserrat Light';
    line-height: 23px;
    margin-bottom: 18px;
    color:$read;
    @include MQ(991px){
        text-align: center;
    }
}
.my-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    &.menor{
        padding: 0 50px;
        @include MQ(large){
            padding:0 15px;
        }
    }
}
img{
    max-width: 100%;
}

@include font-face($fontello);
@include font-face($font-light);
@include font-face($font-regular);
@include font-face($font-semi-bold);
@include font-face($font-bold);
@include font-face($font-extra-bold);
@include font-face('calibril-light');
@include font-face('MyriadPro-Regular');


.title{
    font-family: $font-regular;
    font-size: 36px;
    margin-bottom: 30px;
    color:$read-bold;
    text-align: center;
    @include MQ(small){
        font-size:29px;
    }
}
.title-small{
    margin-bottom: 30px;
    position: relative;
    line-height: 28px;
    text-align: center;
    span{
        font-family: $font-extra-bold;
        font-size: 14px;
        text-transform: uppercase;
        vertical-align: middle;
        line-height: 0;
        position: relative;

        &::before{
            content: '';
            width: 80%;
            height: 1px;
            margin: 0 auto;
            background: #f1f1f1;
            position: absolute;
            bottom: -10px;
            left: 10%;
        }
    }
    &.blue span{
        color:#67b8de;
    }
}
.btn{
    position: relative;
    float: left;
    @include MQ(991px){
        width: 100%;
    }
    &.center{
        display: inline-block;
        width: 100%;
        text-align: center;
        a{
            margin: 0 auto;
        }
    }
    a,
    input[type="submit"]{
        min-width: 200px;
        min-height: 42px;
        background-color: #f2d40c;
        border: 1.5px solid #f2d40c;
        position: relative;
        overflow: hidden;
        display: inline-block;
        border-radius: 20px;
        padding: 0 11px;
        z-index: 1;
        text-align: center;
        @include MQ(991px){
            margin:0 auto;
        }
        &:hover {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            span{
                &:before {
                    opacity: .5;
                    left: 60%;
                }
                &:after {
                    opacity: 1;
                    left: 120%;
                }
            }
        }
        span {
            @include transition(all .3s ease-in-out);
            font-family: $font-semi-bold;
            color: $read-bold;
            font-size: 13px;
            display: block;
            padding: 11px;
            &:after, &:before {
                background-color: rgba(255, 255, 255, 0.5);
                transform: skewX(20deg);
                position: absolute;
                height: 100%;
                content: '';
                width: 70%;
                left: -100%;
                opacity: 0;
                top: 0;
            }
            &::after {
                @include transition(all .7s ease-in-out);
            }
            &::before {
                @include transition(all .5s ease-in-out);
            }
        }
    }
}





.link-fili{
    display: block;
    float: left;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-top: 10px;
}
/* FOOTER */
.footer{
    position: relative;
    float: left;
    width: 100%;
    z-index: 3;
    padding:40px 0 0;
    background-image: url('../img/footer-lapecco.jpg');
    color:#fff;
    background-size:cover;
    span{
        font-family: $font-light,  'Montserrat Light';
    }
    .bx-link-fili{
        width: 100%;
        float: left;
        .link-fili{
            display: inline-block;
            float: none;
        }
    }
    .title-foot{
        font-family: $font-regular;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 15px;
        float: left;
        width: 100%;
    }
    .news{
        position: relative;
        width: 100%;
        float: left;
        @include MQ(991px){
            text-align: center;
        }
        .title-news {
            margin-bottom: 5px;
        }

        form {
            padding-bottom: 30px;
        }

        form [type="email"] {
            color: #2e2e2e;
            padding: 8px 117px 8px 15px;
            border: 1px solid #cdcdcd;
            border-radius: 15px;
            width: 100%;
            font-family: $font-light,  'Montserrat Light';
        }

        form [type="email"]::-webkit-input-placeholder {
            font-weight: 100;
            font-style: italic;
            color: #a1a1a1;
        }

        form [type="email"]::-moz-placeholder {
            font-weight: 100;
            font-style: italic;
            color: #a1a1a1;
        }

        form [type="email"]:-ms-input-placeholder {
            font-weight: 100;
            font-style: italic;
            color: #a1a1a1;
        }

        form span {
            position: absolute;
            left: 0;
            top: 49px;
        }

        form span input {
            width: 20px;
            height: 15px;
            position: absolute;
            z-index: 1;
            float: left;
        }

        form span i {
            position: relative;
            padding: 0 0 0 21px;
        }

        form [type="submit"] {
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            padding: 8px 25px;
            text-transform: uppercase;
            font-weight: 700;
            border: 1px solid #66afdc;
            background: #66afdc;
            color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
        }
    }
    .endereco{
        width: 50%;
        float: left;
        position: relative;
        margin-bottom: 20px;
        @include MQ(large){
            text-align: center;
        }
        @include MQ(730px){
            width: 100%;
            margin-bottom: 50px;
        }
        span{
            position: relative;
            width: 100%;
            float: left;
            @include MQ(991px){
                text-align: center;
            }
        }
        .tele{
            margin-top: 20px;
            float: left;
            width: 100%;
        }
        .btn{
            width: 100%;
            margin-top: 20px;
            a{
                min-width: auto;
                min-height: auto;
                background:#fff;
                border-color:#fff;
                span{
                    padding: 6px 3px 8px;
                }
            }
        }
    }
    .mapaFooter{
        width: 100%;
        height: 400px;
        z-index: -1;
        position: absolute !important;
        float: left;
        transition: all 0.5s ease;
        visibility: hidden;
        top: 0;
        opacity: 0;
        &.show-mapa{
            opacity: 1;
            position: relative !important;
            z-index: 1;
            visibility: visible;
            display: block;
            @include MQ(991px){
                height: 350px;
                margin-top: 30px;
            }
        }
    }
    .serv{
        width: 50%;
        float: left;
        position: relative;
        padding-left: 25px;
        @include MQ(large){
            text-align: center;
        }
        @include MQ(730px){
            width: 100%;
            padding-left: 0;
        }
        ul{
            padding:0;
            list-style: none;
            float: left;
            @include MQ(730px){
                width: 100%;
            }
            li{
                position: relative;
                width: 100%;
                float: left;
                @include MQ(991px){
                    text-align: center;
                }
                a{
                    color:#fff;
                    font-family: $font-light,  'Montserrat Light';
                    padding: 2px 0;
                    float: left;
                    &:hover{
                        margin-left: 3px;
                    }
                    @include MQ(large){
                        width: 100%;
                    }
                    @include MQ(730px){
                        text-align: center;
                    }
                }
            }
        }
    }
    .bx-face{
        text-align: right;
        max-width: 100%;
        @include MQ(large){
            text-align: center;
            margin-top: 30px;
        }
    }
    .div-foot{
        padding:20px 0;
        @include MQ(730px){
            text-align: center;
        }
        hr{
            border-color:#233f4d;
        }
        .social{
            width: 30%;
            float: left;
            position: relative;
            display: inline-block;
            @include MQ(730px){
                width: 100%;
            }
            a{
                display: inline-block;
                margin: 0 4px 0;
                color: #fff;
                @include transition(all .3s ease-in-out);
                font-size: 24px;
                &:hover{
                    color:#66afdc;
                }
            }
        }
        .copy{
            width: 50%;
            padding: 5px 0;
            text-align: center;
            display: inline-block;
            @include MQ(730px){
                width: 100%;
            }
            span{
                font-family:$font-regular;
                font-size: 11px;
                font-weight: bolder;
                display: block;
            }
        }
        .assoweb{
            text-align: center;
            width: 30px;
            display: inline-block;
            float: right;
            img{
                max-width: 100%;
                float: right;
            }
            @include MQ(730px){
                width: 100%;
                img{
                    max-width: 30px;
                    float: none;
                }
            }
        }
    }
}
/* Button Scroll to top */
.cd-top {
    transition: opacity .3s 0s, visibility 0s .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    z-index: 6000;
    right: 10px;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../img/cd-top-arrow.svg) center 45% no-repeat rgba(0, 0, 0, 0.78);
    visibility: hidden;
    border: 1px solid #b3b3b3;
    opacity: 0;
    border-radius:50%;
    &.cd-fade-out,
    &.cd-is-visible{
        transition: opacity .3s 0s, visibility 0s 0s;
    }
    &.cd-is-visible{
        visibility: visible;
        opacity: 1;
    }
    &.cd-fade-out {
        opacity: .5;
    }
}
.no-touch{
    .cd-top{
        &:hover{
            transition: opacity .3s 0s, visibility 0s 0s;
        }
    }
}

// @import "jquery-ui";
.ui-icon{
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}


.ui-datepicker {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
    margin: 0 auto;
    overflow: hidden;
    display: none;
    @include MQ(500px){
        width: 300px;
    }
    @include MQ(400px){
        width: 100%;
        left: 0 !important;
        top: 0px !important;
    }
    &.manha{
        .ui-datepicker-header{
            background-image:url('../img/lapecco-calendario-manha.jpg');
            background-repeat:no-repeat;
            background-size: contain;
        }
    }
    &.tarde{
        .ui-datepicker-header{
            background-image:url('../img/lapecco-calendario-tarde.jpg');
            background-repeat:no-repeat;
            background-size: contain;
        }
    }
    &.noite{
        .ui-datepicker-header{
            background-image:url('../img/lapecco-calendario-noite.jpg');
            background-repeat:no-repeat;
            background-size: contain;
        }
    }
    .header-date-picker {
        height: 200px;
        width: 100%;
        background-size: cover;
        background-position: 0%;
        position: absolute;
        left: 0;
        top: 0;
        @include MQ(700px){
            height: 100px;
            display: none;
        }
    }
    .ui-state-disabled{
        color: #d4d0d0;
    }
    .ui-datepicker-calendar tr th{
        color: #928b8b;
        text-align: center;
    }
    .ui-datepicker-header {
        text-align: center;
        padding-bottom: 1em;
        text-transform: uppercase;
        letter-spacing: .1em;
        padding-top:210px;
        @include MQ(500px){
            margin-top:0 !important;
        }
        .ui-datepicker-prev,
        .ui-datepicker-next {
            display: inline;
            float: left;
            cursor: pointer;
            font-size: 1.4em;
            padding: 0 10px;
            margin-top: -10px;
            color: #CCC;
        }

        .ui-datepicker-next {
            float: right;
        }
    }

    .ui-datepicker-calendar {
        width: calc(100% - 20px);
        margin-left: 10px;
        text-align: center;
        thead {
            color: #CCC;
        }

        tr {
            th, td {
                padding-bottom: .5em;
            }
        }
        a {
            color: #444;
            text-decoration: none;
            display: block;
            margin: 0 auto;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            border: 1px solid transparent;
            cursor: pointer;
            background:#transparent;
            &.ui-state-active{
                background: #377cbf;
                color: #fff;
            }
        }

        .ui-state-highlight {
            border-color: #D24D57;
            color: #D24D57;
        }
    }
}




/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){}
@media (max-width: 1199px){}
@media (max-width: 991px){}
@media (max-width: 767px){}
@media (max-width: 481px){}


/* BOOTSTRAP QUERIES */
@media (min-width: 768px){
    .my-container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .my-container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .my-container {
        width: 1170px;
    }
}
@media (min-width: 1351px){
    .my-container {
        width: 1290px;
    }
}
@media (min-width: 1400px){
    .my-container {
        width: 1300px;
    }
}