// Cores
$primary-color: #f6f6f6;
$light-gray: #f6f6f6;
$read: #555555;
$read-bold: #3f3f3f;
$red: #C82727;
$black: #000;
$white: #FFF;
$dark: #666;
$cor-destak: #00448c;


// Fontes
$fontello: fontello;
$font-light: Montserrat-Light;
$font-regular: Montserrat-Regular;
$font-semi-bold: Montserrat-SemiBold;
$font-bold: Montserrat-Bold;
$font-extra-bold: Montserrat-ExtraBold;



//Menu
$font-menu: $font-regular;
$font-size-menu: 12px;
$color-hover-menu:#00448c;


// Media queries size
$fullhd: 1350px;
$hd: 1199px;
$large: 991px;
$medium: 767px;
$small: 481px;

$menuResp: 1350px;