@import "variables";
@import "mixins";
@import "titulo-comum";
@import "style";
// @import "form";

@include font-face('Montserrat-UltraLight');
@include font-face('Lato-Medium');
@include font-face('Lato-Light');
@include font-face('Lato-Regular');

.title-categ{
    font-family: $font-regular;
    font-size: 23px;
    margin-top: 70px;
    color:#042434;
}
.desc-categ{
    float: left;
    width: 100%;
    p{
        color:#042434;
        font-family: $font-light, 'Montserrat Light';
    }
}
.title-outros-art{
    text-align: left;
    font-size: 26px;
    margin-bottom: 40px;
    @include MQ(768px){
        text-align: center;
    }
}
.title-princ-blog {
    text-align: left;
    font-size: 33px;
    font-family: Montserrat-SemiBold;
    color: #042434;
    margin-bottom: 50px;
    @include MQ(768px){
        text-align: center;
    }
}
.head-title{
    @include MQ(1099px){
        background-position: 50%;
        &::before{
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background:rgba(16, 90, 155, 0.55);
        }
    }
    .page-name{
        width: 450px;
        @include MQ(1099px){
            width: 100%;
        }
        h1, h2, .title-princ{
            font-family: 'Montserrat-UltraLight';
        }
        #breadcrumbs{
            font-size: 10px;
            padding-bottom: 2px;
            padding-right: 15px;
        }
    }
}

.blog-destak{
    padding: 20px 0 80px;
    float: left;
	@include MQ(991px){
        padding: 20px 0 0;
    }
	.bx-img{
		background-size:cover;
		background-position:50%;
        background-repeat: no-repeat;
		height: 300px;
	}
    .btn a{
        background-color: #9a9a9a;
        border: 1.5px solid #9a9a9a;
    }
    .bx-texto{
	    float: left;
        @include MQ(991px){
            margin-top: 20px;
        }

        p{
            color:#4d5a64;
            font-family: $font-light, "Montserrat Light";
            font-size: 14px;
            text-align: justify;
            line-height: 27px;
            &:hover{
                color:#543535;
            }
        }
    }
    h2{
        font-size: 21px;
        margin-top: 0;
        margin-bottom: 5px;
        @include MQ(768px){
            font-size: 18px;
        }
    }
    h2 a{
        color:#4d5a64;
        font-family: 'Lato-Medium';
    }
    .botao a{
    	background: transparent;
	    border-color: #fff;
    }
}

.date{
	margin: 0px 0 10px;
	font-family: 'Lato-Medium';
	color:#4d5a64;
	font-size: 14px;
	a,
	span,
	date{
		font-family: 'Lato-Medium';
		color:#4d5a64;
		font-size: 14px;
    }
}
.categ{
    text-align: right;
    display: inline-block;
    background: #fff;
    width: 100%;
    a{
        height: auto;
        display: inline-block;
        padding: 10px 40px;
        background: #f6f6f6;
            border-radius: 5px 5px 0 0;
    }
	span{
		text-transform: uppercase;
        color:#3a3c41;
        font-family: $font-light, 'Montserrat Light';
        font-size: 11px;
	}
}
.posts-rest{
	max-width: 990px;
    padding:30px;
    margin-top: 20px;
    float: left;
    @include MQ(768px){
        padding-right: 0;
    }
    h2{
    	margin-top: 0;
    	margin-bottom: 20px;
    }
    @media (min-width:1920px){
        max-width: 1920px;
    }
}

.box-blog{
    float: left;
    width: 100%;
    padding-bottom:100px;
    margin-top: 50px;
    &.nao-destaque{
        overflow: hidden;
        .posts-rest{
            padding-top: 0;
            margin-top: 0;
        }
        @include MQ(768px){
            margin-top: 100px;
        }
    }
    .one-article{
        max-width: 100%;
        float: left;
        margin-bottom: 50px;
        @include transition(all .5s ease);
        width: 100%;
        height: 445px;
        background: #f6f6f6;
        @include MQDUAL(1199px, 991px){
            height: 365px;
        }
        @include MQ(1329px){
            height: 500px;
        }
        @include MQ(1329px){
            height: auto;
        }
        figure{
            position: relative;
            overflow: hidden;
            max-width: 100%;
            height: 150px;
            background-position: 50%;
            background-size: cover;
            margin-top: 10px;
            @include MQ(991px){
                max-height: 200px;
            }
            &::before{
                content: '';
                width: 100%;
                height:100%;
                position: absolute;
                background-color: transparent;
                @include transition(all .5s ease);
            }
        }
        &:hover{
            box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.48);
            .description{
                height: auto;
                .btn{
                    bottom: 0;
                    visibility: visible;
                    opacity: 1;
                }
            }

        }
        .description{
            float: left;
            width:100%;
            padding: 10px 20px 20px;
            position: relative;
            height: 135px;
            @include transition(all .5s ease);
            @include MQ(991px){
                height: auto;
            }
            .title-post{
                margin: 5px 0 10px;
                line-height: 20px;
                a{
                    font-family: 'Lato-Regular';
                    position: relative;
                    font-size: 19px;
                    color:#4d5a64;
                    margin-bottom: 0;
                }
            }
            .desc-post{
                @extend section;
                z-index: 3;
                p{
                    font-size: 13px;
                    margin-bottom: 0;
                    font-family: $font-light, "Montserrat Light";
                    color:#4d5a64;
                    text-align: justify;
                    @include MQ(991px){
                        text-align: center;
                    }
                }
            }
            .btn{
                margin-top: 20px;
                bottom: 30px;
                visibility: hidden;
                opacity: 0;
                @include transition(all .5s ease);
                @include MQ(991px){
                    width: 100%;
                    position: relative;
                    bottom: 0;
                    margin-top: 20px;
                }
                @include MQ(768px){
                    bottom: 0;
                    visibility: visible;
                    opacity: 1;
                }
                a{
                    background-color: #9a9a9a;
                    border: 1.5px solid #9a9a9a;
                }
            }
        }
    }
}

.bx-search{
    margin-bottom: 50px;
    float: left;
    width: 100%;
}
.busca{
	position: relative;
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.58);
    border-radius: 16px;
    overflow: hidden;
    margin-top: 50px;
    .icon-search{
        position: absolute;
        top: 8px;
        left: 10px;
        color:#fff;
    }
    .sb-search-input{
        position: relative;
        background: none;
        height: 40px;
        width: 100%;
	    padding-left: 35px;
	    padding-bottom: 8px;
	    font-family: $font-light, 'Montserrat Light';
	    color:#fff;
        border: none;
    }
    .sb-search-submit{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        text-transform: uppercase;
    }
    .botao{
        width:100%;
        a{
            width: 100%;
            text-align: center;
        }
    }

    input[type="button"], input[type="reset"], input[type="submit"]{
        background: none;
        color: #fff;
        border: 1px solid transparent;
        transition: all ease .33s;
        width: 100px;
        height: 40px;
        border-radius: 0 16px 16px 0;
        &:hover{
            color:#fff;
            background: #042434;
        }
    }
}

/* SIDEBAR */
.sidebar{
    padding: 0;
    float: right;
    max-width: 220px;
    margin-bottom: 100px;
    @include MQ(768px){
        max-width: 300px;
        margin: 50px auto 0;
	    display: block;
	    float: none;
    }
    .item{
        margin-bottom: 10px;
        float: left;
        width: 100%;
        background-color:#f6f6f6;
        padding:20px;
        margin-bottom: 20px;
        .title-side{
            font-family: $font-semi-bold;
            color:#042434;
            font-size: 14px;
            margin: 0 0 20px;
            text-transform: uppercase;
        }
        .btn a{
            min-width: auto;
            min-height: auto;
            span{
                padding: 11px 0;
                text-transform: uppercase;
                font-size: 11px;
            }
        }
        .social{
	        @include MQ(large){
	            margin-bottom: 40px;
	        }
	        a{
	            display: inline-block;
	            margin: 0 4px 0;
	            color: $read;
	            border: 1px solid $read;
	            border-radius: 50%;
	            width: 32px;
	            height: 32px;
                background:#042434;
                @include transition(all .3s ease-in-out);
                i::before{
                    padding: 7px 0;
                    font-size: 16px;
                    color: #fff;
                    margin: 0 auto;
                    width: 100%;
                }
                &:hover{
                    background-color: #fff;
                    box-shadow: 0 3px 15px rgba($black, 0.65);
                    i::before{
                        color:#042434;
                    }
	            }
	        }
        }

        ul.categorias-sidebar{
            padding: 0;
            list-style: none;
            float: left;
            margin: 0;
            @include MQ(768px){
            	width: 100%;
            	text-align:center;
            }
            li{
	            position: relative;
                float: left;
                width: 100%;
                margin-bottom: 10px;
                @include MQ(768px){
	            	max-width: 170px;
            	    float: none;
				    margin: 0 auto 10px;
	            }
                &::before{
                    content:'';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    left: 0;
                    top: 7px;
                    background: #267cc5;
                    @include MQ(845px){
                        display: none;
                    }
				}
                a{
                	margin-left:15px;
                    @include MQ(845px){
                        margin-left:0;
                    }
                    span{
                        font-size: 14px;
                        font-family: 'Lato-Medium';
                        color:#656565;
                        text-transform: uppercase;
                        @include transition(all ease .33s);
                    }
                    &:hover{
                        &::before{
                            color:#f44336;
                        }
                        span{
                            color:#f44336;
                            margin-left: 3px;
                        }
                    }
                }
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.navegacao{
    text-align: center;
    .page-numbers{
        padding: 5px 10px 8px;
        margin: 5px 20px;
        font-family: $font-semi-bold;
        color:#3c3c3c;
        position: relative;
        font-size: 17px;
        &::before{
            content:'';
            position: absolute;
            left: -25px;
            top: 13px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #267cc5;
        }
    }
    .custom-pagination {
        display: inline-block;
        margin: 10px 0;
        span:first-child{
            &::before{
                display: none;
            }
        }
        .prev{
            &::before{
                display: none;
            }
        }
    }
    span.page-numbers.current {
        color: #627BA6;
    }
    a.page-numbers {
        color: #363636;
        &:hover{
        	color:#66afdc;
        }
    }
}



//Modal
#modalPersNews {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 150px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    z-index: 9999;
    &.active{
        opacity:1;
        visibility:visible;
        .mask-news{
            opacity:1;
            visibility:visible;
        }
    }
}

#modalPersNews h3 {
    color: #333;
    margin-top: 0;
    font-size: 20px;
}

#modalPersNews .cd-form {
    border: 1px solid #fff;
    padding: 26px 20px;
    background: #FFF;
    margin: 0;
    width: 100%;
    float: left;
}

#closeModal {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    border: 1px solid #fff;
    padding: 8px;
    cursor: pointer;
}

#closeModal path {
    fill: #333 !important;
}

#modalPersNews .mask,
#modalPersNews .mask-news{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    background-color: rgba(0,0,0,.82);
}


#modalPersNews .container-modal {
    position: absolute;
    z-index: 6;
    width: 300px;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 100px;
}

#modalPersNews .container-modal .orcamento p {
    display: none;
}

#modalPersNews .fomr-newsletter{
    margin-top: 20px;
}





.author{
    .header-title-blog{
        margin-bottom: 20px;
    }
    .imagem-autor{
        float: left;
        margin: 20px 50px 20px 0;
        display: inline-block;
        border-radius: 6px;
        overflow: hidden;
        @include MQ(991px) {
            width: 100%;
            margin: 20px 0 0;
            text-align: center;
        }
        img{
            margin-left: 0;
        }
    }
    .texto-autor{
        display: inline-block;
        width:calc(100% - 350px);
        @include MQ(991px) {
            width: 100%;
            text-align: center;
        }
    }
    .header-title-blog{
        width:100%;
        p{
            color:#6a6a6a;
        }
        @include MQ(991px) {
            #breadcrumbs{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
    h1{
        display: inline-block;
        color: #f44336;
    }
    h2{
        font-size: 34px;
        margin-bottom: 30px;
        color: #3f3f3f;
        font-family: lato-black;
    }
}