@import "variables";
@import "mixins";
@import "style";
@import "titulo-comum";

.clientes{
    @extend section;
    padding: 50px 0;
    .bx-img{
    	height: 115px;
	    margin: 10px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50%;
	    img{
	    	max-width: 100%;
	    	max-height: 100%;

	    }
    }
}