@import "variables";
@import "mixins";
@import "titulo-comum";
@import "owl-carousel";
@import 'slide-default';
@import "style";
.footer .endereco .btn{
	display: none;
}
.head-title{
	z-index: 2;
}
.bx-form{
	width:40%;
	float:left;
	padding:30px;
	position: relative;
    left: 0;
    top: 0;
    text-align: center;
    margin-top: 30px;
    @include MQ(991px){
    	width: 100%;
    }
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 390px;
		background:#fff;
		top: 0;
		left: 0;
		@include MQ(991px){
		    height: 385px;
		}
		@include MQ(570px){
		    height: 452px;
		}
	}
	.btn{
		width: auto;
	    margin: 40px auto 0;
	    float: none;
	    display: inline-block;
	}
	div.wpcf7 .ajax-loader{
        left: 136px;
	    top: 14px;
	    z-index: 8;
	}
	form{
		.wpcf7-response-output,
		.wpcf7-response-output.wpcf7-validation-errors{
		    color: #fff;
		    text-shadow: 0 0 5px #000;
		    margin-top: 20px;
	        font-family: $font-light;
		}
	}
}
.bx-cont{
    color: #fff;
    float: left;
    width: 300px;
    position: relative;
    margin-top: 10px;
    padding-left: 35px;
    @include MQ(991px){
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	    padding: 0 0 250px;
    }
    h2{
    	color:#fff;
		font-size:18px;
    }
    b{
		font-family: $font-extra-bold;
	    width: 100%;
	    display: block;
	    margin-top: 20px;
	    letter-spacing: 1px;
    }
    a{
    	color: #fff;
	    border-bottom: 1px solid #fff;
	    &:hover{
	    	text-shadow: 3px 4px 7px #000;
	    }
    }
    span{
		font-family: $font-light, 'Montserrat Light';
		font-size:14px;
		color:#fff;
    }
    div{
    	width: 100%;
	    float: left;
	    margin-bottom: 20px;
	    .link-fili{
    	    margin-top: 5px;
    	    @include MQ(991px){
    	    	display: inline-block;
			    float: none;
    	    }
	    }
    }
}
.ver-mapa{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    cursor: pointer;
    opacity: 0;
    @include MQ(991px){
	    left: 0;
	    margin: 0 auto;
    }
    &.active{
    	opacity: 1;
    }
}
.mapa{
	width:100%;
	height: 500px;
	z-index: -1;
	position: absolute !important;
	float: left;
    @include transition(all .5s ease);
	&.show-mapa{
	    position: relative !important;
		z-index: 1;
	}
	@include MQ(991px){
	    width: 100%;
	    height: 350px;
	}
}