@import "variables";
@import "mixins";
@import "titulo-comum";
@import "style";

.conven{
	.abas{
		padding:0;
		list-style: none;
		padding:50px 0;
		li{
			display: inline-block;
			margin:0 10px;
			padding: 10px;
			cursor: pointer;
			background:#fff;
			border:1px solid #377cbf;
			border-radius:5px;
			color:#377cbf;
			margin-bottom: 20px;
			@include transition(all .5s ease);
			&:hover{
				background:#377cbf;
				border-color:#377cbf;
				color:#fff;
			}
			&.active{
				background:#377cbf;
				border-color:#377cbf;
				color:#fff;
			}
		}
	}
	.ctrl-itens{
		@extend section;
	}
	.bx-cont{
	    padding: 50px 50px 50px 0;
	    @include MQ(hd){
	    	padding: 0 20px 0 0;
	    }
	    @include MQ(large){
	        margin: 40px 0;
	    }
		h2{
    		font-size: 18px;
    	}
    	p{
    		text-align: justify;
    		@include MQ(991px){
		        text-align: center;
		    }
    	}
	}
	&::before{
		content:'';
		position:absolute;
		background:#ebebeb;
		width: 500px;
		height: 100%;
		right: 0;
		@include MQ(large){
			display: none;
		}
	}
	.bx-agendar{
		text-align: center;
		background:#ebebeb;
		padding:0 0 50px;
		@include MQ(480px){
			padding:50px 0;
		}
		.bx-item{
			width: 100%;
			position: absolute;
			visibility: hidden;
			right: -130%;
			top: 0;
			@include transition(all .5s ease);
			&.active{
				position: relative;
				visibility: visible;
				right: 0;
			}
			.item{
			    position: relative;
			    width: 33%;
			    height: 130px;
			    display: inline-block;
			    margin-bottom: 30px;
			    @include MQ(large){
					width: 49%;
				}
				@include MQ(480px){
					width: 100%;
					height: auto;
					padding: 0 15px;
				    margin-bottom: 50px;
				}
				h3{
					text-align: center;
					font-size: 16px;
					text-transform: uppercase;
					width: 178px;
				    margin: 0 auto 15px;
				    line-height: 18px;
				    @include MQ(480px){
				    	width: 100%;
				    }
				}
				.btn{
					a{
					    background-color: #377cbf;
					    border-color: #377cbf;
						span{
							color:#fff;
						}
					}
				}
			}
		}
	}
}