@import "variables";
@import "mixins";
@import "owl-carousel";
@import "titulo-comum";
@import "style";
@import 'slide-default';

.o-q-faz{
	padding: 50px 0;
	.bx-item{
	    width: 25%;
	    float: left;
	    margin-bottom: 50px;
	    padding: 0 15px;
	    display: inline-block;
		@include MQ(1199px){
		    width: 50%;
		}
		@include MQ(700px){
		    width: 100%;
		    margin:0 0 50px;
		}
	}
	.item{
        width: 100%;
	    display: block;
	    float: left;
	    padding: 30px 15px;
	    background: #f5f5f5;

		> span{
		    display: block;
		    text-align: center;
		    font-size: 20px;
		    margin-bottom: 20px;
		}
	}
}

.nossa-est{
	@extend section;
	padding: 50px 0;
	.title{
		text-align: left;
		@include MQ(large){
			text-align: center;
		}
	}
	img{
		width: 100px;
	    display: inline-block;
	    @include MQ(hd){
		    display: block;
		    margin: 0 auto;
		}
	}
	.cont{
	    width: calc(100% - 130px);
	    display: inline-block;
	    padding: 20px;
	    vertical-align: middle;
	    @include MQ(hd){
		    width: calc(100%);
	        text-align: center;
	    }
	    h2{
	    	font-family: $font-regular;
	    	font-size: 18px;
	    }
	    @include MQ(large){
		    p{
	    	    margin-bottom: 0;
		    }
		}
	}
	iframe{
		border:none;
	}
	@include MQ(large){
		.btn{
			margin-bottom: 40px;
		}
	}
}

.diret{
	@extend section;
	padding: 20px 0 50px;
	text-align: center;
	@include MQ(large){
		padding-bottom:0;
	    .row div{
	    	margin-bottom: 50px;
	    	min-height: 180px;
	    	@include MQ(768px){
	    		min-height: auto;
	    	}
	    	&:first-child, &:last-child{
	    		margin-bottom: 30px;
	    	}
	    }
	}
	.bx-img{
		position: relative;
	    width: 260px;
        max-width: 100%;
	    margin: 0 auto;
	    border-radius: 50%;
	    overflow: hidden;
		img{
			max-width: 100%;
		}
	}
	.cont{
		padding: 0 45px;
		@include MQ(hd){
		    padding: 0 15px;
		}
		h3{
			font-size: 18px;
			font-family: $font-regular;
		}
	}
}
.bx-gray{
	@extend section;
	padding: 50px 0;
	.my-container{
	    background: #e1e1e1;
	    padding: 40px;
		@include MQ(medium){
			padding:15px 15px 30px;
		}
	}
	.btn-desk{
		@include MQ(hd){
			display: none;
		}
	}
	.btn-resp{
		display: none;
		@include MQ(hd){
			display: block;
			margin-top: 30px;
		}
	}
	.cont{
		padding:0 90px 0 40px;
		text-align: justify;
		@include MQ(large){
			padding:0 40px;
		}
		@include MQ(medium){
			padding:0;
		}
		h2{
			font-size: 18px;
			font-family: $font-regular;
    	    margin-bottom: 20px;
		}
	}
	.bx-img{
		width: 100%;
	    height: 400px;
	    position: relative;
        background-size: cover;
        background-position: 50%;
        @include MQ(768px){
		    height: 200px;
        }
	}
}