@import "variables";
@import "mixins";

input,
textarea,
button{
    @include transition(all .3s ease-in-out);
}
input[type="text"],
input[type="password"],
textarea,
select{
    font-family: $font-regular;
    color: $read;
    padding: 6px 10px;
    font-weight: bold;
    height: 35px;
    width: 100%;
    textarea:active,
    textarea:focus,
    &:focus,
    &:active{
        border-color: rgba(54, 54, 54, 0.57);
        -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.26);
        -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.26);
        box-shadow: inset 0 0 10px rgba(0,0,0,.26);
    }
    &::-webkit-input-placeholder{
        font-family: $font-regular;
        color: #b3b3b3;
    }
    &::-webkit-input-placeholder{
        font-family: $font-regular;
        color: #b3b3b3;
    }
    &:focus::-webkit-input-placeholder{
        font-family: $font-regular;
        color: #b3b3b3;
    }
    &::-moz-placeholder{
        font-family: $font-regular;
        color: #b3b3b3;
    }
    &:focus::-moz-placeholder{
        font-family: $font-regular;
        color: #b3b3b3;
    }
    &:focus::-moz-placeholder{
        font-family: $font-regular;
        color: #b3b3b3;
    }
    &:-ms-input-placeholder{
        font-family: $font-regular;
        color: #b3b3b3;
    }
    &:focus:-ms-input-placeholder{
        font-family: $font-regular;
        color: #b3b3b3;
    }
}
textarea{
    max-width: 100%;
    height: 200px;
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
form{
    .wpcf7-not-valid-tip{
        display: none !important;
    }
    input,
    textarea,
    select{
        width: 100%;
        border: 1px solid $read;
        &.wpcf7-not-valid{
            border-color: #c62828;
        }
    }
}
form{
    position: relative;
    width: 100%;
    float: left;
    @include MQ(991px){
        text-align: center;
    }
    .campo{
        position: relative;
        width: 100%;
        float: left;
        min-height: 50px;
        @include MQ(991px){
            text-align: center;
        }
        margin-bottom: 15px;
        &.metade{
            width: 50%;
            @include MQ(568px) {
                width: 100%;
            }
            &.left{
                padding-right: 10px;
                 @include MQ(568px) {
                    padding-right:0;
                }
            }
            &.right{
                padding-left: 10px;
                 @include MQ(568px) {
                    padding-left: 0;
                }
            }
        }
    }
    .botao{
        position: relative;
        width: 100%;
        float: left;
        @include MQ(991px){
            text-align: center;
        }
        img{
            margin: 5px auto 0;
            display: table;
        }
    }
    .wpcf7-response-output{
        width: 100%;
        float: left;
        padding: 10px;
        margin: 0;

        &.wpcf7-validation-errors{
            color: $read;
            margin:0 0 20px;
            border-color:#c62828;
        }
        &.wpcf7-mail-sent-ng{
            background-color: #c62828;
            color: #fff;
            margin:0 0 20px;
        }
    }
}
.ui-icon{
    text-indent: 0 !important;
    width: auto  !important;
    height: auto  !important;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next{
    border: none  !important;
    background: none !important;
    margin-top: -3px !important;
}

