@import "variables";
@import "mixins";
@import "owl-carousel";
@import 'autocomplete';
@import "style";
@import 'slide-default';



.banner{
	@extend section;
	position: relative;
	height: 59vh;
    min-height: 490px;
	background-color:#E7E6EB;
	overflow: hidden;
	@include MQ(1700px){
		height: 64vh;
		min-height: 500px;
	}
	@include MQ(1260px){
		height: calc(100vh - 330px);
		&::before{
			content:'';
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.63);
			position:absolute;
			top:0;
			right: 0;
			z-index: 1;
		}
	}
	@include MQ(991px){
		height: auto;
	}
	@include MQ(650px){
	    min-height: auto;
	}
	.box-nav-banner{
		width: 350px;
		float: left;
		height: 100%;
	    position: relative;
        z-index: 1;
        background-color:#3b85b0;
        @include MQ(large){
			width: 100%;
	        height: auto;
		    padding-bottom: 30px;
	  	}
	  	@include MQ(668px){
	  	    padding-bottom: 0;
	  	}
	  	.img-esq{
		    height: 100%;
		    width: 100%;
		    position: absolute;
		    background-size: cover;
		    left: -100%;
		    @include transition(all .8s ease);
		    @include MQ(991px){
		    	background: #2f6c8e;
		    }
		    &.active{
		    	left:0;
		    	@include MQ(991px){
		    		opacity: 0;
		    	}
		    }
	  	}
	  	.nav-banner{
	  		padding: 0;
	  		text-align: right;
		    margin-top: 80px;
		    @include MQ(large){
		    	margin-top: 50px;
			    float: left;
			    padding: 0 15px;
		    }
		    @include MQ(668px){
			    margin-top: 10px;
			    margin-bottom: 0;
	    	}
		    li{
		    	display: block;
		    	width: 100%;
		    	float: right;
		    	margin-bottom: 10px;
		    	@include MQ(large){
					width: calc(50% - 10px);
				    float: left;
				    display: inline-block;
				    text-align: center;
				    margin: 0 5px 10px;
		    	}
		    	@include MQ(668px){
					width: 100%;
					margin:0 0 10px;
		    	}
		    }
		    a{
			    display: inline-block;
			    padding: 12px 20px;
			    border-radius: 5px 0 0 5px;
			    font-family: $font-regular;
			    font-weight: bold;
		        line-height: 34px;
		        text-transform: uppercase;
		        color:#fff;
	            position: relative;
		        @include transition(all .5s ease);
		        @include MQ(large){
			        color:$read-bold;
			        background: #e4e3e8;
			        border-radius:5px;
			        width: 100%;
		        }
		        @include MQ(668px){
				    font-size: 12px;
				    text-align: left;
			        line-height: 23px;
		        }
		        &:before{
		        	content:'';
		        	height: 2px;
		        	width: 30px;
		        	position: absolute;
		        	background:#fff;
		        	bottom: 12px;
				    right: 20px;
				    @include MQ(large){
						display: none;
			        }
		        }
			    img{
			    	display: inline-block;
			    	float: left;
		    	    width: 35px;
				    height: 35px;
				    margin-right: 0;
				    opacity: 0;
			        @include transition(all .5s ease);
			        @include MQ(large){
						opacity: 1;
						margin-right: 10px;
			        }
			        @include MQ(668px){
					    width: 25px;
					    height: 25px;
			        }
			    }
			    &:hover{
				    color:$read-bold;
			        background: #e4e3e8;
			    	img{
						opacity: 1;
						margin-right: 30px;
						@include MQ(large){
							margin-right: 10px;
				        }
			    	}
			    	&:before{
			    		opacity: 0;
			    	}
			    }
			    &.active{
				    color:$read-bold;
			        background: #e4e3e8;
			    	img{
						opacity: 1;
						margin-right: 30px;
			    	}
			    	&:before{
			    		opacity: 0;
			    	}
				}
			}
	  	}
	}
	.box-cont{
		width: calc(100% - 350px);
	    height: 100%;
		float: right;
		position: absolute;
		right: -50%;
		opacity: 0;
		visibility: hidden;
		@include transition(all .8s ease);
		@include MQ(large){
			bottom:-100%;
		    height: auto;
		    width: 100%;
		    bottom: 0;
			&.active{
				bottom: 0;
			}
		}
		@include MQ(650px){
			display: none;
		}
		&.active{
			opacity: 1;
			visibility: visible;
			right: 0;
			@include MQ(991px){
			    position: relative;
		        height: auto;
			}
		}
		img{
			position: absolute;
			right: 0;
			bottom: 0;
		    max-height: 100%;
	        max-width: none;

		    @media (min-width: 1700px) and (min-height:974px){
			    height: 100%;
			    right: -180px;
		    }
		    @include MQ(991px){
		    	width: 100%;
			    height: auto;
			}
		    @include MQ(668px){
		    	display: none;
		    }
		}
		.bx-rig{
		    position: absolute;
			width: 480px;
		    bottom: 80px;
		    margin-left: 90px;
		    z-index: 1;
		    @include MQ(1420px){
	    	    width: 350px;
		    }
		    @include MQ(1260px){
		    	width: 100%;
		    	padding:0 20px;
		    	text-align: center;
		    	margin-left: 0;
		    	bottom:200px;
		    	.btn{
	    		    width: 100%;
		    	}
		    }
		    @include MQ(large){
		        position: relative;
		        float: left;
	            top: 0;
			    padding: 40px 0 60px;
		    }
			h2{
			    color:$read-bold;
				font-family: $font-regular;
				font-size: 47px;
			    text-transform: uppercase;
			    @include MQ(1420px){
	    	        font-size: 35px;
			    }
			    @include MQ(large){
					font-size: 26px;
			    }
			    span{
			    	color: #fff;
				    text-shadow: -1px 1px 14px rgba(0, 0, 0, 0.5);
				    @include MQ(1260px){
				    	color:$read-bold;
				    	text-shadow: none;
				    }
			    }
			}
			h3{
				font-size: 38px;
	            margin: 0 0 30px;
				font-family: $font-light, 'Montserrat Light';
			    color:$read-bold;
			    @include MQ(1420px){
	    	        font-size: 28px;
			    }
			    @include MQ(large){
					font-size: 22px;
			    }
			    span{
			    	color: #fff;
				    text-shadow: -1px 1px 14px rgba(0, 0, 0, 0.5);
				    @include MQ(1260px){
				    	color:$read-bold;
				    	text-shadow: none;
				    }
			    }
			}
			.btn a{
				box-shadow: 3px 6px 20px rgba(0,0,0,0.29);
			}
		}
	}
}

h4{
	font-family: $font-regular;
	color:$read-bold;
	font-size: 18px;
    margin-bottom: 20px;
}
.sobre{
	@extend section;
	padding: 50px 0 50px;
	@include MQ(650px){
	    padding-top:0;
	}
	img{
	    float: left;
	    width: 98px;
	    margin-right: 40px;
	    @include MQ(large){
	    	float: none;
	    	margin-right:0;
	    }
	}
	.title{
		margin-bottom: 80px;
		@include MQ(large){
			.title{
			    margin-bottom: 30px;
			}
		}
	}
	.bx-gray{
		float: left;
		width: 100%;
		background:#f6f6f6;
		padding: 45px 25px 28px;
	}
	.bx-white{
	    float: left;
	    margin-top: 30px;
        padding: 15px;
	}
	.convenios{
		@include MQ(650px){
			margin-top: 20px;
		}
		h4{
			font-size: 25px;
		}
		.btn a{
			background:#66afdc;
			border-color:#2874a2;
			span{
				color:#fff;
			}
		}
		form.cons-conven{
			input,
			textarea,
			select{
			    border-color: #62addb;
			    border-radius: 12px;
			    color: #62addb;
			    font-family: $font-regular;
		        font-size: 13px;
			}
		}
		#msgAuto{
			width: 100%;
		    text-align: center;
		    float: left;
		    margin-bottom: 15px;
		}
	}
}
.svgLoad{
    width: 15px;
    position: absolute;
    top: 10px;
    right: 8px;
    visibility: hidden;
}
.cons{
	background:#f6f6f6;
}



.posts-rest{
	@extend section;
    padding:30px;
    margin-top: 20px;
    @include MQ(768px){
	    margin: 0 auto;
    }
    h2{
    	margin: 0 0 40px;
    }
    @media (min-width:1920px){
        max-width: 1920px;
    }
}

.box-blog{
	float: left;
    width: 100%;
    padding-bottom:100px;
    &.nao-destaque{
        margin-top: 80px;
        overflow: hidden;
        .posts-rest{
        	padding-top: 0;
        	margin-top: 0;
        }
        @include MQ(768px){
            margin-top: 100px;
        }
    }

    img{
    	max-width: 120%;
        height: auto;
        margin-left: -25px;
    }
    .one-article{
        max-width: 100%;
        float: left;
        margin-bottom: 50px;
        @include transition(all .5s ease);
        width: 100%;
        height: 345px;
        background: #f6f6f6;
        @include MQDUAL(1199px, 991px){
        	height: 365px;
        }
        @include MQ(768px){
        	height: auto;
        }
        figure{
            position: relative;
            overflow: hidden;
            max-width: 100%;
            height: 150px;
            background-position: 50%;
            background-size: cover;
            @include MQ(991px){
                max-height: 200px;
            }
            &::before{
                content: '';
                width: 100%;
                height:100%;
                position: absolute;
                background-color: transparent;
                @include transition(all .5s ease);
            }
        }
        &:hover{
            box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.48);
            .description{
				height: auto;
            	.btn{
	                bottom: 0;
	                visibility: visible;
	                opacity: 1;
	            }
            }

        }
        .description{
            float: left;
            width:100%;
            padding: 10px 20px 20px;
            position: relative;
            height: 135px;
            @include transition(all .5s ease);
            @include MQ(991px){
                height: auto;
            }
            .title-post{
                margin: 5px 0 10px;
                line-height: 15px;
                a{
                	font-family: 'calibril-light';
                	position: relative;
	                font-size: 20px;
                    color:#4d5a64;
                    margin-bottom: 0;
                }

            }
            .desc-post{
                @extend section;
                z-index: 3;
                p{
                    color: $read;
                    font-size: 14px;
                    margin-bottom: 0;
                	font-family: 'calibril-light';
                	color:#6a7883;

                }
            }
            .btn{
                margin-top: 20px;
                bottom: 30px;
                visibility: hidden;
                opacity: 0;
                @include transition(all .5s ease);
                @include MQ(991px){
                    width: 100%;
                    position: relative;
                    bottom: 0;
                    margin-top: 20px;
                }
                @include MQ(768px){
		        	bottom: 0;
	                visibility: visible;
	                opacity: 1;
		        }
                a{
                	background-color: #9a9a9a;
				    border: 1.5px solid #9a9a9a;
                }
            }
        }
    }
}