@import "variables";
@import "mixins";
.melhores-prof{
	position: relative;
    width: 100%;
    float: left;
	padding:100px 0 150px;
    @include MQ(991px){
        text-align: center;
    }
	@include MQ(955px){
		padding:25px 0 60px;
	    background: #f5f5f5;
	}
	.carimbo{
		@include MQ(1353px){
			width: 300px;
		}
		@include MQ(hd){
			display: none;
		}
	}
	.quadro{
		display: inline-block;
	    float: right;
	    max-width: 753px;
	    position:relative;
	    .bg{
	    	position: absolute;
	    	@include MQ(955px){
				display: none;
			}
	    }
	    .qualid{
	    	position:absolute;
		    bottom: -50px;
		    left: -100px;
	    	z-index: 3;
	    	@include MQ(955px){
				display: none;
			}
	    }
	    .bx-cont{
	    	position: relative;
		    z-index: 2;
		    padding: 0 90px;
		    text-align: justify;
		    width: calc(100% - 165px);
		    display: inline-block;
		    margin-top: 10px;
		    @include MQ(995px){
		    	width: 100%;
		    	padding:0;
		    }
	    	.title-custom{
	    		font-size: 18px;
    		    margin-bottom: 50px;
    		    @include MQ(995px){
    		    	text-align: center;
    		    }
	    	}
	    	p{
	    		font-size: 14px;
	    		text-align: justify;
	    		@include MQ(955px){
					text-align:center;
				}
	    	}
	    }
	}
}