@import "variables";
@import "mixins";

#wrap{
    .conteudo{
        @include transition(all .5s ease);
        max-width: 1600px;
        margin: 104px auto 0;
        float: none;
        @include MQ(menuResp){
            margin-top:70px;
        }
    }
    &.nav-is-visible{
        .conteudo,
        & + .footer,
        #header-sroll{
            @include MQ($menuResp) {
                transform: translateX(-260px);
            }
        }
    }
}
// Header
.header{
    .bx-resul-mob{
        display: none;
        @include MQ(menuResp){
            display: inline-block;
            float: right;
            margin-right: 60px;
            margin-top: 18px;
            a{
                font-family: Montserrat-Regular;
                font-size: 12px;
                color: #555;
                padding: 8px 10px;
                display: block;
                margin: 0 7px 0;
                transition: all 0.5s ease;
                background: #f2d40c;
                border-radius: 20px;
                &:hover{
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 3px 13px 0 rgba(0,0,0,0.15);
                }
            }
        }
        @include MQ(380px){
            margin-right: 50px;
        }
        a{
            @include MQ(380px){
                background: none;
                margin: 0;
                padding: 8px 0;

                &:hover{
                    box-shadow: none;
                }
            }
        }
    }
    .cd-primary-nav,
    .cd-primary-nav a,
    .cd-primary-nav ul,
    .cd-primary-nav ul a {
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
    /*.cd-primary-nav .cd-nav-gallery .cd-nav-item h3 ,
    .cd-primary-nav .cd-nav-icons .cd-nav-item h3, */
    .cd-primary-nav a,
    .cd-primary-nav ul a {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .cd-primary-nav ul a {
        display: block;
        padding: 0 20px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* white-space: nowrap; */
        /* border-bottom: 1px solid #3a3f40; */
        -o-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform, opacity;
        -webkit-transition: -webkit-transform .3s, opacity .3s;
        -moz-transition: -moz-transform .3s, opacity .3s;
        transition: transform .3s, opacity .3s;
    }
    .cd-primary-nav ul li{
        display: block;
    }

    .cd-primary-nav,
    .cd-primary-nav ul {
        height: auto;
        width: auto;
        overflow: visible;
    }
    .cd-primary-nav {
        position: static;
        padding: 0 150px 0 0;
        float: right;
        background: 0 0;
        list-style: none;
    }
    .cd-primary-nav::after {
        clear: both;
        content: "";
        display: table;
    }
    .cd-primary-nav.moves-out>li>a {
        transform: translateX(0);
        opacity: 1;
    }
    .cd-primary-nav ul.is-hidden,
    .cd-primary-nav.moves-out > li > a {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .cd-primary-nav ul {
        background: rgba(255, 255, 255, 0.98);
        z-index: 3;
        top: 33px;
        right: auto;
        width: 261px;
        padding: 0 0 0 0 !important;
    }
    .cd-primary-nav ul li{
        width: 100%;
    }
    .cd-primary-nav ul li:hover {
        opacity: .8;
    }
    .cd-primary-nav ul.is-hidden {
        transform: translateX(0);
    }
    .cd-primary-nav ul.moves-out > li > a {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .cd-primary-nav>li>a {
        position: relative;
        display: inline-block;
        padding: 0 10px;
        color: #FFF;
        overflow: visible;
        border-bottom: none;
        text-decoration: none;
        -webkit-transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -ms-transition: all .35s ease-in-out;
        -o-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
    }
    .cd-main-header.small .cd-primary-nav>li>a {
        color: #333;
    }
    .cd-main-header.small .cd-primary-nav>li>a:hover {
        background: #ea9c47;
        color: #FFF;
    }
    .cd-primary-nav>li>a.selected {
        box-shadow: inset 0 -2px 0 #00448c;
    }
    .cd-primary-nav .go-back,
    .cd-primary-nav .see-all {
        display: none;
    }
    .cd-primary-nav .cd-nav-gallery,
    .cd-primary-nav .cd-nav-icons,
    .cd-primary-nav .cd-secondary-nav {
        position: absolute;
        top: 80px;
        width: 100vw;
        background: #fff;
        padding: 48px 64px 130px;
        box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, .05);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }
    .cd-primary-nav .cd-nav-gallery::after,
    .cd-primary-nav .cd-nav-icons::after,
    .cd-primary-nav .cd-secondary-nav::after {
        clear: both;
        content: "";
        display: table;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item p,
    .cd-primary-nav .cd-secondary-nav ul ul .go-back,
    .cd-primary-nav .cd-secondary-nav ul ul .see-all {
        display: block;
    }
    .cd-primary-nav .cd-nav-gallery.is-hidden,
    .cd-primary-nav .cd-nav-icons.is-hidden,
    .cd-primary-nav .cd-secondary-nav.is-hidden,
    .cd-primary-nav .sub-menu.is-hidden {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
    }
    .cd-primary-nav .cd-nav-gallery > .see-all,
    .cd-primary-nav .cd-nav-icons > .see-all,
    .cd-primary-nav .cd-secondary-nav>.see-all {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 80px;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .cd-primary-nav .cd-nav-gallery > .see-all a,
    .cd-primary-nav .cd-nav-icons > .see-all a,
    .cd-primary-nav .cd-secondary-nav>.see-all a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        line-height: 80px;
        border-top: 1px solid #e2e3df;
        border-bottom: none;
        margin: 0;
        padding: 0;
        -webkit-transition: color .2s, background .2s, border .2s;
        -moz-transition: color .2s, background .2s, border .2s;
        transition: color .2s, background .2s, border .2s;
    }
    .cd-primary-nav .cd-nav-gallery > .see-all a:hover,
    .cd-primary-nav .cd-nav-icons > .see-all a:hover,
    .cd-primary-nav .cd-secondary-nav>.see-all a:hover {
        background: #2e3233;
        border-color: #2e3233;
        color: #fff;
    }
    .cd-primary-nav .cd-secondary-nav > li {
        height: 340px;
        width: 23%;
        float: left;
        margin-right: 2.66%;
        border-right: 1px solid #e2e3df;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+2) {
        margin-right: 0;
        border-right: none;
    }
    .cd-primary-nav .cd-secondary-nav > li > a {
        color: #69aa6f;
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: .6em;
    }
    .cd-primary-nav .cd-secondary-nav a {
        height: 30px;
        line-height: 30px;
        padding: 0 18% 0 0;
        color: #2e3233;
        border-bottom: none;
        font-size: 1.4rem;
    }
    .cd-primary-nav .cd-secondary-nav a:hover {
        color: #69aa6f;
    }
    .cd-primary-nav .cd-secondary-nav ul {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    .cd-primary-nav .cd-secondary-nav ul ul {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .cd-primary-nav .cd-secondary-nav ul ul.is-hidden {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    .cd-primary-nav .cd-secondary-nav ul ul .go-back a {
        color: transparent;
    }
    .cd-primary-nav .cd-secondary-nav .moves-out>li>a {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .cd-primary-nav .cd-nav-gallery li {
        width: 22%;
        float: left;
        margin: 0 4% 40px 0;
    }
    .cd-primary-nav .cd-nav-gallery li:nth-child(4n+2) {
        margin-right: 0;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item {
        border-bottom: none;
        padding: 0;
        height: auto;
        line-height: 1.2;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item img {
        position: static;
        margin-top: 0;
        height: auto;
        width: 100%;
        margin-bottom: .6em;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
        color: #69aa6f;
        font-weight: 700;
        padding: 0 .4em;
    }
    .cd-primary-nav .cd-nav-icons li {
        width: 32%;
        float: left;
        margin: 0 2% 20px 0;
    }
    .cd-primary-nav .cd-nav-icons li:nth-child(3n+2) {
        margin-right: 0;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item {
        border-bottom: none;
        height: 80px;
        line-height: 1.2;
        padding: 24px 0 0 85px;
        position: relative;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item:hover {
        background: #f6f6f5;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
        color: #69aa6f;
        font-weight: 700;
    }
    .cd-primary-nav > .menu-item-has-children > a::after,
    .cd-primary-nav > .menu-item-has-children > a::before {
        width: 9px;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background: #c9cbc4;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all .3s, -webkit-transform .3s;
        -moz-transition: all .3s, -moz-transform .3s;
        transition: all .3s, transform .3s;
    }
    .cd-main-header.small .cd-primary-nav > .menu-item-has-children > a:hover::after,
    .cd-main-header.small .cd-primary-nav > .menu-item-has-children > a:hover::before {
        background: #F9E9DB;
    }
    .go-back a::after,
    .go-back a::before,
    .menu-item-has-children > a::after,
    .menu-item-has-children > a::before {
        content: '';
        position: absolute;
        top: 64%;
        margin-top: 2px;
        display: inline-block;
        height: 2px;
        width: 8px;
        background: #FFF;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    &.small .go-back a::after,
    &.small .go-back a::before,
    &.small .menu-item-has-children > a::after,
    &.small .menu-item-has-children > a::before {
        top: 14px;
        background: #464c4e;
    }
    .menu-item-has-children > a::after,
    .menu-item-has-children > a::before {
        right: 20px;
        -webkit-transform-origin: 9px 50%;
        -moz-transform-origin: 9px 50%;
        -ms-transform-origin: 9px 50%;
        -o-transform-origin: 9px 50%;
        transform-origin: 9px 50%;
    }
    .go-back a::before,
    .menu-item-has-children > a::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .cd-primary-nav > .menu-item-has-children > a.selected::before {
        // -webkit-transform: translateX(5px) rotate(-45deg);
        // -moz-transform: translateX(5px) rotate(-45deg);
        // -ms-transform: translateX(5px) rotate(-45deg);
        // -o-transform: translateX(5px) rotate(-45deg);
        // transform: translateX(5px) rotate(-45deg);
    }
    .go-back a::after,
    .menu-item-has-children > a::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .cd-primary-nav > .menu-item-has-children > a.selected::after {
        // -webkit-transform: rotate(45deg);
        // -moz-transform: rotate(45deg);
        // -ms-transform: rotate(45deg);
        // -o-transform: rotate(45deg);
        // transform: rotate(45deg);
    }
    /* .cd-primary-nav > .menu-item-has-children > a {
        padding-right: 30px!important;
    } */
    .cd-primary-nav>.menu-item-has-children > a::before {
        right: 12px;
    }
    .cd-primary-nav>.menu-item-has-children > a::after {
        right: 7px;
    }
    .menu-item-has-children > a::after,
    .menu-item-has-children>a::before {
        right: 15%;
    }

    .menu-item-has-children > a::after,
    .menu-item-has-children>a::before{
        right: 20px;
        -webkit-transform-origin: 9px 50%;
        -moz-transform-origin: 9px 50%;
        -ms-transform-origin: 9px 50%;
        -o-transform-origin: 9px 50%;
        transform-origin: 9px 50%;
    }


    @media (max-width: $menuResp){
        nav ul{
            overflow: hidden;
            padding: 20px 0 0px 0 !important;
        }
        .cd-primary-nav ul.moves-out > li > a,
        .cd-primary-nav.moves-out > li > a {
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transform: translateX(-100%);
            opacity: 0;
        }
        .cd-primary-nav ul.is-hidden,
        .cd-primary-nav.is-hidden {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%);
        }
        .cd-primary-nav .go-back, .cd-primary-nav .see-all {
            display: block;
        }
        .cd-primary-nav > li > a.selected{
            box-shadow: none;
        }
        .cd-primary-nav .cd-nav-icons .cd-nav-item p,
        .cd-primary-nav .cd-secondary-nav ul ul .go-back,
        .cd-primary-nav .cd-secondary-nav ul ul .see-all {
            display: block;
        }
        .cd-primary-nav .cd-secondary-nav ul ul .go-back a {
            color: transparent;
        }
        .menu-item-has-children>a::after, .menu-item-has-children>a::before {
            right: 20px;
            -webkit-transform-origin: 9px 50%;
            -moz-transform-origin: 9px 50%;
            -ms-transform-origin: 9px 50%;
            -o-transform-origin: 9px 50%;
            transform-origin: 9px 50%;
        }
        .go-back a::before, .menu-item-has-children>a::before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .go-back a::after,
        .go-back a::before,
        .menu-item-has-children > a::after,
        .menu-item-has-children > a::before{
            top: 50%;
            right: 25px !important;
        }
        .menu-item-has-children > a.selected::before{
            right: 30px !important;
        }
        &.small .go-back a::after,
        &.small .go-back a::before,
        &.small .menu-item-has-children > a::after,
        &.small .menu-item-has-children > a::before{
            background-color: #FFF;
        }
        .cd-primary-nav a.selected + ul.sub-menu {
            visibility: visible;
            opacity: 1;
            -webkit-transition: -webkit-transform .3s;
            -moz-transition: -moz-transform .3s;
            transition: transform .3s;
        }
        .cd-primary-nav ul.sub-menu.is-hidden {
            visibility: hidden;
            opacity: 0;
        }
        .cd-primary-nav ul.is-hidden, .cd-primary-nav.is-hidden {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%);
        }
        .cd-primary-nav ul.sub-menu {
            visibility: hidden;
            opacity: 0;
            -webkit-transition: -webkit-transform .3s;
            -moz-transition: -moz-transform .3s;
            transition: transform .3s;
        }
        .cd-primary-nav ul.sub-menu {
            visibility: hidden;
            opacity: 0;
            -webkit-transition: -webkit-transform .3s;
            -moz-transition: -moz-transform .3s;
            transition: transform .3s;
        }
        .cd-primary-nav, .cd-primary-nav a, .cd-primary-nav ul, .cd-primary-nav ul a {
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
        }
        .cd-primary-nav ul li a{
            color: #FFF;
        }
        .menu-item-has-children>a::after, .menu-item-has-children>a::before {
            right: 20px;
            -webkit-transform-origin: 9px 50% !important;
            -moz-transform-origin: 9px 50% !important;
            -ms-transform-origin: 9px 50% !important;
            -o-transform-origin: 9px 50% !important;
            transform-origin: 9px 50% !important;
        }
        .cd-primary-nav>.menu-item-has-children > a::after {
            right: 25px !important;
        }
        .cd-primary-nav .go-back a::after, .cd-primary-nav .go-back a::before {
            left: 20px;
            -webkit-transform-origin: 1px 50% !important;
            -moz-transform-origin: 1px 50% !important;
            -ms-transform-origin: 1px 50% !important;
            -o-transform-origin: 1px 50% !important;
            transform-origin: 1px 50% !important;
        }
    }
}



header{
    background-color: $white;
    width: 100%;
    padding-top:10px;
    float: left;
    position: fixed;
    z-index: 4;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
    @include transition(all .5s ease);
    @include MQ(menuResp){
        padding-top:0;
    }
}
.desk-menu{
    position: relative;
    width: 100%;
    float: left;
    @include MQ(991px){
        text-align: center;
    }
    .logo{
        position: absolute;
        float: left;
    }
    .logo-adn{
        margin: 0;
        position: relative;
        display: table;
        z-index: 1;
        a{
            background-image: url(../img/logo-lapecco.jpg);
            color: rgba($black, 0);
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            width: 135px;
            height: 70px;
            font-size: 0;
            margin: 13px 0 0;
            @include MQ(menuResp) {
                margin: 13px 0 0;
                width: 117px;
                height: 49px;
            }
        }
    }
    .box-menu{
        position: relative;
        width: 100%;
        height: 94px;
        display: block;
        margin: 0 auto;
        float: none;
        text-align: center;
        @include MQ(menuResp){
            height: 70px;
        }
        ul{
            margin: 23px 0;
            padding: 0;
            list-style: none;
            position: relative;

            li{
                float: left;
                @include transition(all .33s ease);
                @include MQ(menuResp){
                    width: 100%;
                    text-align: left;
                }
                &:hover{
                    > a{
                        color:$color-hover-menu;
                        @include MQ(menuResp){
                            margin-top: 0;
                            color:#fff;
                        }
                    }
                }
                &.menu-item-has-children{
                    & > a{
                        padding: 8px 20px 8px 8px;
                        &::before,
                        &::after{
                            @include transition(all 0.3s ease-in-out);
                            background-color: $read;
                            position: absolute;
                            content: '';
                            height: 2px;
                            width: 7px;
                            top: 16px;
                            @include MQ($menuResp) {
                                background: $read;
                                -webkit-backface-visibility: hidden;
                                backface-visibility: hidden;
                                right: 20px !important;
                            }
                        }
                        &::before{
                            transform: rotate(45deg);
                            right: 10px;
                            @include MQ($menuResp) {
                                top: 19px;
                                transform-origin: 9px 50%;
                            }
                        }
                        &::after{
                            transform: rotate(-45deg);
                            right: 6px;
                            @include MQ(hd) {
                                transform: rotate(-45deg);
                            }
                        }
                    }
                    ul{
                        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
                        @include transition(all 0.3s ease-in-out);
                        -webkit-overflow-scrolling: touch;
                        position: absolute;
                        list-style: none;
                        margin:0;
                        li{
                            @include transition(all 0.33s ease);
                            &:hover{
                                background:$cor-destak;
                                a{
                                    color: #FFF;
                                }
                            }
                        }
                        @include MQ(menuResp) {
                            top: 0;
                            background-color: #fff;
                            box-shadow: none;
                            padding: 20px 15px !important;
                            left: 0;
                            li{
                                a{
                                    padding: 8px 11px 8px 20px;
                                }
                                &.go-back{
                                    a{
                                        &::before,
                                        &::after{
                                            left: 3px;
                                            background:#00448c;
                                        }
                                    }
                                }
                                &:hover{
                                    &.go-back{
                                        a{
                                            &::before,
                                            &::after{
                                                background:#fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                a{
                    font-family: $font-menu;
                    font-size: $font-size-menu;
                    color: $read;
                    padding: 8px 10px;
                    display: block;
                    margin: 0 7px 0;
                    @include transition(all .5s ease);
                }
                &.menu-item-has-children{
                    a{
                        text-align: left;
                        &:hover{
                            margin-top: 0;
                        }
                    }
                }
                &.resul-on{
                    border-left: 2px solid #f1f1f1;
                    margin-left: 10px;
                    @include MQ(menuResp) {
                        margin-left: 0;
                        display: none;
                    }
                    a{
                        background: #f2d40c;
                        border-radius: 20px;
                        &:hover{
                            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 3px 13px 0 rgba(0,0,0,0.15);
                        }
                    }
                }
            }
            @include MQ(menuResp) {
                background-color: #fff;
                border-left: 1px solid #000;
                padding: 25px 0 0;
                position: fixed;
                right: -260px;
                width: 260px;
                height: 100vh;
                top: 0;
                display: none;
                overflow: hidden;
                li{
                    a{
                        color:#00448c;
                    }
                    &.menu-item-has-children{
                        & > a{
                            padding: 8px 20px 8px 8px;
                            &::before,
                            &::after{
                                background-color: #00448c;

                            }
                        }
                    }
                    &:hover{
                        background: #00448c;
                        &.menu-item-has-children{
                            & > a{
                                &::before,
                                &::after{
                                    background-color: #fff;

                                }
                            }
                        }
                    }

                }
            }
            @include MQ(menuResp){
                display: block;
                margin-top: 0;
            }
        }
        .cd-header-buttons{
            position: absolute;
            display: inline-block;
            display: none;
            right: 0;
            top: 27px;
            display: none;
            @include MQ(menuResp) {
                display: block;
            }
            .cd-nav-trigger{
                color: transparent;
                span{
                    position: absolute;
                    top: 9px;
                    right: 10px;
                    margin-top: -2px;
                    transition: background 0.3s 0.3s;
                    display: inline-block;
                    height: 3px;
                    width: 24px;
                    background: $cor-destak;
                    &::before,
                    &::after{
                        /* hamburger icon in CSS */
                        position: absolute;
                        display: inline-block;
                        height: 3px;
                        width: 24px;
                        background: $cor-destak;
                        /* other 2 lines */
                        content: '';
                        right: 0;
                        /* Force Hardware Acceleration in WebKit */
                        transform: translateZ(0);
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        transform-origin: 0% 50%;
                        transition: transform 0.3s 0.3s;
                    }
                    &::before{
                        top: -6px;
                    }
                    &::after{
                        top: 6px;
                    }
                }
                &.nav-is-visible{
                    span{
                        background: rgba(46, 50, 51, 0);
                        &::before,
                        &::after{
                            background: $cor-destak;
                        }
                        &::before{
                            transform: translateX(4px) translateY(-3px) rotate(45deg);
                        }
                        &::after{
                            transform: translateX(4px) translateY(2px) rotate(-45deg);
                        }
                    }
                }
            }
        }
        .menu-header-container{
            display: inline-block;
            float: right;
        }
        @include MQ($menuResp) {
            right: 0;
        }
        @include MQ(1120px) {
            ul{
                li{
                    a{
                        padding: 8px;
                    }
                }
            }
        }
    }
    /* SMALL */
    &.small{
        transition: all 0.3s ease-in-out;
        height: 72px;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        *{
            transition: all 0.3s ease-in-out;
        }
        .over{
            transition-delay: .1s;
            height: 100%;
            opacity: .99;
        }
        .logo{
            .logo-adn{
                margin: 10px 0 0 0;
            }
            .site-logo{
                background-image: url('../img/ortep-color.svg');
                width: 140px;
                height: 55px;
                @include MQ(hd) {
                    width: 144px;
                    height: 56px;
                }
                @include MQ(small) {
                    width: 140px;
                    height: 56px;
                }
            }
        }
        .box-menu{
            margin: 18px 0 0;
            .cd-primary-nav{
                li{
                    ul{
                        top: 54px;
                        @media (min-width:$menuResp){
                            top:35px;
                        }
                        @include MQ(hd) {
                            top: 0;
                        }
                    }
                    &.menu-item-has-children{
                        a{
                            &::before,
                            &::after{
                                background-color: $read;
                            }
                            @include MQ(hd) {
                                &::before,
                                &::after{
                                    background-color: $cor-destak;
                                }
                            }
                        }
                    }
                    .menu-item-has-children{
                        a{
                            &::before,
                            &::after{
                                background-color: $read;
                            }
                            @include MQ(hd) {
                                &::before,
                                &::after{
                                    background-color: $cor-destak;
                                }
                            }
                        }
                    }
                }
            }
            .cd-header-buttons{
                top: 25px;
                .cd-nav-trigger{
                    span{
                        top: 50%;
                        right: 10px;
                        margin-top: -2px;
                        background: $read;
                        &::before,
                        &::after{
                            background: $read;
                            right: 0;
                        }
                    }
                    &.nav-is-visible{
                        span{
                            background: transparent;
                            &::before,
                            &::after{
                                background: $read;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* HEADER */
