@import "variables";
@import "mixins";
.perg-e-res{
    position: relative;
    width: 100%;
    float: left;
    @include MQ(991px){
        text-align: center;
    }
	padding:50px 0;
    @include MQ(large){
        text-align: left;
    }
    .row{
        width: 80%;
        margin: 0 auto;
        @include MQ(670px){
            width: 100%;
        }
    }
	.nav-perguntas{
		width: 100%;
        float: left;
        @include MQ(991px){
            margin-bottom: 0;
            max-width: 420px;
            margin: 0 auto 50px;
            float: none;
        }
		.item{
			font-size:20px;
		    position: relative;
		    list-style: none;
	        margin-bottom: 10px;
            @include MQ(991px){
                height: auto;
            }
		    a{
			    font-size: 17px;
                width: 100%;
                display: block;
                padding: 7px;
                border: 1px solid #042433;
                background: #fff;
                color: #042433;
                border-radius: 2px;
                &.active-menu{
                    background: #042433;
                    color: #fff;
			    }
			}
		}
	}
}
form {
	.lista-perg{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        @include transition(all .5s ease);
        display: none;
        &.perg-active{
            display: block;
			opacity: 1;
            visibility: visible;
            position: relative;
		}
	}
}
.sub-title-perg{
    display: none;
    @include MQ(991px){
        display: block;
        margin-top: 0;
        font-size: 25px;
    }
}
/************************************************** Perguntas e Respostas **************************************************/
.nav-perguntas{
    float: left;
    width: 100%;
    margin-bottom: 100px;
}
.nav-perguntas ul{
    padding-left: 21px;
}
.lista-perg{
    float: left;
    width: 100%;
}
.titulo-perguntas-frequentes{
    color: #675f5f;
    font-size: 17px;
}
.titulo-perguntas-frequentes:hover{
    color:#267cc5;
}
.perguntas-frequentes{
    border: 1px #363636 solid;
    border-bottom-width: 2px;
    padding:20px;
    z-index: 2;
}
.perguntas-frequentes label{
    margin-bottom:0;
    font-family: $font-regular;
}

.respostas-frequentes{
    border: 1px solid #c5bdbd;
    color:$read;
    transition:all .33s ease;
    z-index:0;
    visibility:hidden;
    height:0;
    opacity: 0;
}
.respostas-frequentes p{
    margin-bottom:0;
}
.perg-e-res .searchbox {
    width: 100%;
    float: left;
    position: relative;
}
.perg-e-res .searchbox .sb-search-input.searchbox-input {
    position: relative;
    width: 100%;
    -webkit-appearance: textfield;
    line-height: 2;
    padding: 5px 10px 5px 40px;
}
.perg-e-res .searchbox input::-webkit-input-placeholder{
    text-transform: none;
    font-size: 14px;
    color:#363636;
}
.perg-e-res .searchbox .sb-search-submit.searchbox-submit {
    top: 0;
    background-color: transparent;
    border: none;
    padding: 11px 20px;
    z-index: 2;
    left: 0;
    position: absolute;
}
.perg-e-res .searchbox i {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;;
    color: #EACB33;
    font-size: 27px;
    z-index: 1;
    transform: scale(.8);
    left: 2px;
}
.lista-perg input[type="radio"] {
    left: -9999rem;
    position: absolute;
}

.lista-perg input[type="radio"]:checked + .baffle {
    height: 100%;
}
.lista-perg .baffle {
    -webkit-transform: translateZ(0);
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}

/* Styling */
.lista-perg input[type="radio"]:checked + .baffle label {
}
.lista-perg input[type="radio"]:checked + .baffle .respostas-frequentes{
  visibility: visible;
  padding: 20px;
  height: auto;
  opacity: 1;
}
.lista-perg input[type="radio"]:checked + .baffle .perguntas-frequentes{
  color:#6295c1;
}
.lista-perg label {
    display: block;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
}
.lista-perg label:hover{
  color:#267cc5;
}
.lista-perg .baffle-inner {
    padding: 1.25rem;
    background: #eee;
    position: absolute;
    top: 3.3rem;
    left: 0;
    height: 13.5rem;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lista-perg .baffle:last-of-type label, .lista-perg .baffle:last-of-type .baffle-inner {
    border-radius: 0 0 .25rem .25rem;
}