@import "variables";
@import "mixins";
@import "titulo-comum";
@import "owl-carousel";
@import 'slide-default';
@import "style";
@import "perguntas-e-respostas";


.pac-med{
	position: relative;
    width: 100%;
    float: left;
    @include MQ(991px){
        text-align: center;
    }
	padding:50px 0;
	.title{
		text-align: left;
		@include MQ(991px){
			text-align: center;
		}
	}
}

.box-form{
	position: relative;
    width: 100%;
    float: left;
    @include MQ(991px){
        text-align: center;
    }
	padding:50px 0 40px;
	background:#f6f6f6;
	.title{
		font-size: 24px;
	}
	input{
		border-color: #62addb;
	    border-radius: 12px;
	    color: #62addb;
	    font-family: $font-regular;
        font-size: 13px;
	}
	.btn{
		text-align: center;
		input[type="submit"]{
			width: 200px;
			color:#3f3f3f;
		}

	}
}
.aces-perg{
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 30px;
    a{
    	font-weight: bold;
	    color: #3f3f3f;
	    border-bottom:1px solid #3f3f3f;
    }
}