@import 'blog';
.busca{
	margin: 0 0 50px;
	.sb-search-input{
		border:1px solid #badbef;
	    border-radius:20px;
		color:#042434;
	}
    .icon-search{
		color:#042434;
    }
    input[type="submit"]{
    	color:#042434;
    	font-family: 'Lato-Regular';
    	font-weight: bold;
    }
}