@import "variables";
@import "mixins";
@import "titulo-comum";
@import "owl-carousel";
@import 'slide-default';
@import "style";
@import "melhores-prof";
@import "perg-e-resp-part";
.perg-e-res{
	background:#f5f5f5;
	padding-top: 70px;
	.ctrl-sing{
        width: 80%;
        margin: 0 auto;
        @include MQ(670px){
            width: 100%;
        }
    }
    .nav-perguntas ul{
    	padding-left:0;
    }
}
.slide{
    padding: 20px 0 40px;
}
.head-title{
	padding-bottom:30px;
	.icone{
	    max-width: 300px;
	    margin-top: 50px;
	    @include MQ(large){
		    max-width: 200px;
	    }
	    @include MQ(large){
		    max-width: 150px;
	    }
	}
	.bx-cont{
		position: relative;
		float: left;
	    width: 90%;
		background:#fff;
		padding: 20px 50px 30px;
	    margin-top: 50px;
	    @include MQ(1199px){
			width: 100%;
		    padding: 20px 30px 30px;
	    }
		.title-custom{
		    font-size: 19px;
		    margin-bottom: 30px;
		}
		p{
			font-size: 15px;
			text-align: justify;
			@include MQ(1199px){
				text-align: center;
			}
		}
	}
	.btn-voltar{
		width: 90%;
	    margin-top: 30px;
	    @include MQ(1199px){
	    	width: 100%;
	    }
	    @include MQ(991px){
	    	display: none;
	    }
	    a{
    	    background: none;
		    border-color: #fff;
		    min-width: 180px;
		    span{
		    	color: #fff;
		    }
	    }
	}
	.btn-fili{
		a{
		    background: transparent;
		    margin-top: 10px;
		}
	}
}


.desc-princ{
	@extend section;
	padding:80px 0 100px;
	@include MQ(medium){
        padding: 20px 0 50px;
    }
    &.desc-prim{
    	padding-bottom:10px;
    }
    &.desc-seg{
    	padding-top:10px;
    }
	.bx-cont{
	    width: 80%;
	    margin: 0 auto;
	    img{
    	    height: auto;
	        margin: 5px;

	    }
	    .title{
	    	text-align: left;
	    	@include MQ(991px){
	    		text-align: center;
	    	}
	    }
	    .btn{
    	    margin-top: 25px;
    	    > div{
				display: inline-block;
    	    }
	    }
	    ul{
		    margin: 20px auto 40px;
		    text-align: left;
		    @include MQ(991px){
			    max-width: 400px;
		    }
		    li{
				font-weight:bold;
			}
	    }
	    h3{
    	    margin-top: 50px;
		    margin-bottom: 30px;
	    }
	    h4{
    	    margin-top: 30px;
		    margin-bottom: 20px;
	    }
	    @include MQ(670px){
			padding: 0 15px;
			width: 100%;
	    }
	    .subtitle{
	    	font-size: 18px;
    	    margin-bottom: 20px;
	    }
	}
	.bx-fili{
	    height: 180px;
	}
	.btn-conc{
		margin-right: 20px;
	}
}

.vantagens{
	@extend section;
	padding: 30px 0 0;
    background-size: cover;
    background-position: 50%;
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		left:0;
		top:0;
		background:rgba(13, 80, 142, 0.34);
	}
	.title{
	    text-align: left;
	    color:#fff;
	}
	.lista{
		padding: 0;
	    list-style: none;
	    color: #fff;
	    margin-top: 20px;
	    float: left;
	    width: 100%;
	    text-align: center;
		li{
			width: 24.5%;
		    font-size: 17px;
		    text-transform: uppercase;
		    letter-spacing: 4px;
		    display: inline-block;
		    margin-bottom: 30px;
		    height: 50px;
		    text-align: left;
	        padding-right: 25px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
            vertical-align: top;
            @include MQ(hd){
				width: 33%;
            }
            @include MQ(large){
				width: 49.5%;
				padding:0 15px;
            }
             @include MQ(600px){
             	padding:0;
				width: 100%;
            }
            i{
            	width: 25px;
			    display: inline-block;
			    vertical-align: top;
			    margin-top: 3px;
            }
            span{
			    font-family: 'MyriadPro-Regular', 'Montserrat-Regular';
        	    display: inline-block;
			    width: calc(100% - 35px);
            }
		}
	}
}

.slide-full-wide{
	@extend section;
	background-size:cover;
	background-position:50%;
	min-height: 400px;
	color:#fff;
	@include MQ(991px){
    	min-height: auto;
	    padding: 80px 15px 60px;
		background-position:70%;
    }
    @include MQ(400px){
	    padding: 40px 15px 20px;
    }
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
	    z-index: 3;
		left: 0;
	    top: 0;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+67,0.73+67,0.25+100 */
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.73) 0%, rgba(0,0,0,0.73) 67%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 67%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 67%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
	}
	.bx-cont{
	    float: left;
	    z-index: 3;
	    width: 350px;
        position: relative;
	    padding: 40px 15px;

	    @include MQ(large){
	    	left: 0;
		    right: 0;
		    margin: 0 auto;
	    }
	    @include MQ(medium){
	        position: relative;
		    bottom: 0;
		    width: 100%;
		    padding: 50px 15px;
		    margin-bottom: 20px;
	    }
		.title-custom{
		    font-size: 27px;
		    margin-bottom: 30px;
			color:#fff;
		}
		p{
			color:#fff;
			font-size: 14px;
			text-align: justify;
			@include MQ(768px){
				text-align: center;
			}
		}
	}
}
a.btn-voltar{
    background: none;
    margin-left: 20px;
    @include MQ(500px){
    	margin-left:0;
	    margin-top: 20px;
    }
}