@import "variables";
@import "mixins";
@import "titulo-comum";
@import "style";
@import "melhores-prof";
@import "owl-carousel";

.servicos{
	@extend section;
	text-align:center;
    padding: 60px 0 0;
    .title{
	    margin-bottom: 50px;
	    margin-top: 0;
    }
    .item{
        position: relative;
    	margin-bottom: 100px;
    	height: 235px;
	    padding-top: 10px;
	    width: 24%;
		display: inline-block;
	    vertical-align: top;
	    @include transition(all .5s ease);
	    @include MQ(large){
			width: 32%;
	    }
	    @include MQ(large){
			width: 49%;
	    }
	    &:hover{
	    	box-shadow: 2px 2px 10px 0px rgba(25, 87, 124, 0.43);
	    }
		img{
			max-width: 100px;
			max-height: 100px;
		}
		h3{
			font-family: $font-extra-bold;
			font-size: 14px;
			text-transform: uppercase;
		    color: #042536;
		}
		.btn.center {
			position: absolute;
		    bottom: 10px;
		    left: 0;
		    right: 0;
			a{
				min-width: auto;
			    padding: 0 5px;
		        margin-top: 20px;
		    }
		}

    }
}

.dif{
	@extend section;
	padding:50px 0 0;
	background:#f2d40c;
	text-align: center;
	.title{
		color: #282c33;
		margin-bottom: 50px;
	}
	.owl-controls{
	    width: 100%;
		top: 34%;
	    display: block;
	    position: absolute;
	    .owl-nav{
			.owl-next,
			.owl-prev{
			    font-size: 47px;
			    color:#363636;
			    text-shadow: none;
			    @include transition(all .5s ease);
			}
			.owl-next{
		        right: -41px;
				&:hover{
			        right: -45px;
				}
				@include MQ(780px){
			        right: -10px;
			        &:hover{
				        right: -15px;
					}
				}

			}
			.owl-prev{
				left: -41px;
				&:hover{
			        left: -45px;
				}
				@include MQ(780px){
			        left: -10px;
			        &:hover{
				        left: -15px;
					}
				}

			}
	    }
	}
	.item{
		position: relative;
	    display: inline-block;
	    margin-bottom: 70px;
	    vertical-align: top;
	    padding: 0 30px;
	    @include MQ(780px){
	    	padding: 0 15px;
	    	max-width: 330px;
	    }
		img{
		    max-width: 200px;
		    max-height: 200px;
	        display: inline-block;
		}
		p{
			font-family: $font-regular;
			font-size: 24px;
			color:#3f3f3f;
			padding-top: 20px;
		}
	}
}






