@import "variables";
@import "mixins";

.slide{
	position: relative;
    width: 100%;
    float: left;
    @include MQ(991px){
        text-align: center;
    }
	padding: 50px 0 90px;
    overflow: hidden;
    @include MQ(768px){
    	padding:50px 15px 70px;
    }
	.item{
		padding:20px;
		text-align: center;
		&:hover{
			.bx-img{
				&:before{
					top: 100%;
				}
			}
		}
		a{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 3;
		}
		.bx-img{
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			&:before{
				content:'';
				position:absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 2;
				@include transform(rotate(180deg));
				@include transition(all .5s ease);
				opacity: .3;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0.65+41,0+99 */
				background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 1%, rgba(0,0,0,0.65) 41%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.65) 41%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.65) 41%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

			}
		}
		span{
			font-family: $font-bold;
			color:$read-bold;
			margin-top: 20px;
		    float: left;
		    width: 100%;
		    font-size: 15px;
		}
		img{
		    border-radius: 0 0 5px 5px;
		    min-height: 205px;
		}
	}
	.owl-carousel{
		margin-bottom: 50px;
	}
	.owl-controls{
	    width: 100%;
		top: 34%;
	    display: block;
	    position: absolute;
	    .owl-nav{
			.owl-next,
			.owl-prev{
			    font-size: 47px;
			    color:#363636;
			    text-shadow: none;
			    @include transition(all .5s ease);
			}
			.owl-next{
		        right: -41px;
				&:hover{
			        right: -45px;
				}
		        @include MQ(medium){
					right: -30px
		        }
			}
			.owl-prev{
				left: -41px;
				&:hover{
			        left: -45px;
				}
				@include MQ(medium){
					left: -30px
		        }
			}
	    }
	}
}