@import "variables";
@import "mixins";

.head-title{
	background:#fff;
    position: relative;
    padding: 50px 0;
    background-size: cover;
    background-position:16%;
    &.big{
	    padding: 162px 0 0;
    }
    .bg-title{
	    height: 500px;
	    width: 100%;
	    background-size: cover;
        background-position: 50%;
	    position: absolute;
	    top: 0;
	    &::before{
	    	// content:'';
			height: 100%;
			width: 100%;
			position: absolute;
			bottom: 0;
			top: 0;
			opacity: .5;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d5679+0,093550+100 */
			background: rgb(29,86,121); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(29,86,121,1) 0%, rgba(9,53,80,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(29,86,121,1) 0%,rgba(9,53,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(29,86,121,1) 0%,rgba(9,53,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d5679', endColorstr='#093550',GradientType=0 ); /* IE6-9 */


	    }
    }
    @include MQ(large){
    	height: auto;
    }
	.page-name{
		width: 100%;
		float: left;
	    h1,h2,.title-princ{
	    	color: #fff;
    	    font-size: 52px;
		    margin:5px 0 0;
		    font-family: $font-regular;
		    @include MQ(1199px){
	    	    font-size: 65px;
		    }
		    @include MQ(768px){
	    	    font-size: 45px;
		    }
	    }
	    #breadcrumbs{
			color: #fff;
			text-transform: uppercase;
		    font-family: $font-extra-bold;
	        letter-spacing: 2px;
	        display: inline-block;
		    margin-bottom: 0;
		    border-bottom: 2px solid #fff;
		    padding-right: 70px;
		    padding-bottom: 10px;
		    @include MQ(large){
		    	padding:0 0 10px;
		    }
		    span{
			    font-family: $font-extra-bold;
		    }
			a{
				color: #fff;
			    font-family: $font-extra-bold;
				&:hover{
				    text-shadow: 0 0 13px rgb(0, 0, 0);
				}
			}
	    }
	}
	.desc{
		position: relative;
	    width: 100%;
	    float: left;
	    @include MQ(991px){
	        text-align: center;
	    }
		background:#f6f6f6;
		padding:60px;
		margin-top: 30px;
		@include MQ(medium){
			padding:20px;
		}
		h2{
			font-family: $font-regular;
			font-size: 20px;
			margin: 0 0 20px;
		}
	}
	.lapecco-nome{
	    position: absolute;
	    bottom: 100px;
	    right: 0;
	    width: 50%;
	    float: right;
	    padding-left: 50px;
	    @include MQ(large){
	    	bottom:0;
	    	position: relative;
	    	padding: 0;
		    width: 100%;
		    margin:50px 0;
	    }
		img{
			max-width: 300px;
		}
	}
}